<section class="footer">
    <div class="container-footer">
        <div class="info">
            <a href="/">
                <h4>China Garden</h4>
            </a>
            <p>De Pélichystraat 27, 8870 Izegem</p>
            <p>051/ 31 77 91</p>
        </div>
        <div>
            {{>openingsuren}}
        </div>
        <div>
            <ul class="list-footer">
                <p><strong>Links</strong></p>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/location">Location</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</section>