<nav class="container-nav">
    <div class="menu">
        <a href="/">
            <h4 class="title">China Garden</h4>
        </a>
        <ul class="menu menu-right">


            <li>
                <a href="/menu">Menu</a>
            </li>

            <li>
                <a href="/location">Location</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contacteer ons</a>
            </li>
        </ul>
    </div>
</nav>