<div class="container">
    <table>
        <tr>
            <th colspan="3">Openingsuren</th>
        </tr>
        <tr>
            <td>Maandag:</td>
            <td>11u - 14u</td>
            <td>17u - 21u30</td>
        </tr>
        <tr>
            <td>Dinsdag:</td>
            <td>Gesloten</td>
            <td>Gesloten</td>
        </tr>
        <tr>
            <td>Woensdag:</td>
            <td>Gesloten</td>
            <td>Gesloten</td>
        </tr>
        <tr>
            <td>Donderdag:</td>
            <td>11u - 14u</td>
            <td>17u - 21u30</td>
        </tr>
        <tr>
            <td>Vrijdag:</td>
            <td>11u - 14u</td>
            <td>17u - 21u30</td>
        </tr>
        <tr>
            <td>Zaterdag:</td>
            <td>11u - 14u</td>
            <td>17u - 21u30</td>
        </tr>
        <tr>
            <td>Zondag:</td>
            <td>11u - 14u</td>
            <td>17u - 21u30</td>
        </tr>
    </table>
</div>