<section class="about">
    <div class="container">
        <h3>{{title}}</h3>
        <div class="containerFlex">
            <div class="left-section">
                <p>{{paragraph1}}</p>
                <p>{{paragraph2}}</p>
                <p>{{paragraph3}}</p>
            </div>
            <div class="right-section">
                <img src="images/banner.jpg">
            </div>
        </div>
    </div>
</section>