<header>
    <section class="hero">
        <div class="banner">
            <div class="banner-content">
                <h3>{{cta}}</h3>
            </div>
        </div>
    </section>
</header>
<section class="info">
    <div class="containerFlex">
        <div class="card">
            <div class="content">
                <h3>Menu</h3>
                <p>{{descMenu}}</p>
                <a href="/menu"><button>Bekijk onze menu</button></a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h3>Locatie</h3>
                <p>{{descLocation}}</p>
                <a href="/location"><button>Vind ons</button></a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h3>Bestel</h3>
                <p>{{descOrder}}</p>
                <a href="/contact"><button>Reserveer</button></a>
            </div>
        </div>
    </div>
</section>